body{
  margin: 0px !important;
}
.profile-img{
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 200px;
  margin-top: 10%;
  left: 10%;
}
.cyberheader {
    height: 600px;
    background: #000000;
    font-family: "Orbitron", sans-serif;
    font-style: italic;
  }
  
  .container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 70%;
  }
  
  .glitch {
    color: #FEEF00;
    position: relative;
    font-size: 7vw;
    /* // margin: 70px 200px; */
    animation: glitch 6s 6s infinite;
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 #45AEFB;
    background: #000000;
    overflow: hidden;
    top: 0;
    animation: noise-1 6s linear infinite alternate-reverse,
      glitch 5s 5.05s infinite;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 #45AEFB;
    background: #000000;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }



  .glitch-mobile {
    color: #FEEF00;
    position: relative;
    font-size: 7vw;
    /* // margin: 70px 200px; */
    animation: glitch 5s 5s infinite;
  }
  
  .glitch-mobile::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 #45AEFB;
    background: #000000;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse,
      glitch 5s 5.05s infinite;
  }
  
  .glitch-mobile::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 #45AEFB;
    background: #000000;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1% {
      transform: rotateX(10deg) skewX(90deg);
    }
    2% {
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  
  @keyframes noise-1 {
    $steps: 15;
    @for $i from 1 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  @keyframes noise-2 {
    $steps: 15;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 590px;
    top: 0;
    left: 0;
  
    background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      rgba(196, 17, 17, 0.05) 0.5%,
      transparent 1%
    );
  
    animation: fudge 7s ease-in-out alternate infinite;
  }
  
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  
  .glow {
    @extend .glitch;
    text-shadow: 0 0 1000px rgb(223, 191, 191);
    color: transparent;
    position: absolute;
    top: 0;
  }
  
  .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    color: #FEEF00;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
    position: absolute;
    left: 17%;
    animation: glitch-2 5s 5.02s infinite;
  }
  
  @keyframes glitch-2 {
    1% {
      transform: rotateX(10deg) skewX(70deg);
    }
    2% {
      transform: rotateX(0deg) skewX(0deg);
    }
  }

  // movil cosa
  @media (max-width: 400px) {
    .profile-img{
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 200px;
      margin-top: 4%;
      left: 20%;
    }
    .container {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  @media (max-width: 768px) {
    .profile-img{
      height: 250px;
      width: 250px;
      position: absolute;
      border-radius: 200px;
      margin-top: 4%;
      left: 30%;
    }
    .container {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 55%;
    }
  }

  @media (max-width: 500px) {
    .profile-img{
      height: 250px;
      width: 250px;
      border-radius: 200px;
      margin-top: 4%;
      left:20%;
      align-self: center;
    }
    .container {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 55%;
    }
  }